* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

:root {
    --fb-blue: #0a86f0;
    --fb-black: #090909;
    --fb-red: #ee2340;
    --fb-green: #3db557;
    --fb-yellow: #f6b024;
    --fb-bgcolor: #eef0f3;
    --fb-white: #ffffff;
    --fb-whitebg: #ffffff;
    --dark-color-text: #090909;
    --light-color-text: #606770;
    --button-link: #e0e2e8;
    --stories-bg: #090909;
    --icon-circle-bg: linear-gradient(0deg, rgba(65,67,69,1) 0%, rgba(107,110,114,1) 100%);
    --light-grey-bg: #F5F5F5;
    --dark-grey-bg: #E0E0E0;
}

body {
    background: var(--fb-bgcolor);
    font-family: Helvetica, Arial, sans-serif;
    color: var(--fb-black);
}

/* Header nav bar */

header {
    background: var(--fb-whitebg);
    height: 62px;
    display: flex;
    padding: 0 15px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0, 0.5);
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
}

.header__logo-section {
    display: flex;
}

.header__logo-icon .fa-facebook {
    font-size: 40px;
    color: var(--fb-blue);
}

.header__logo-search {
    position: relative;
    margin-left: 10px;
}

.header__logo-search .fa-search {
    position: absolute;
    top: 14px;
    left: 10px;
    color: var(--light-color-text);
}

.header__logo-search input[type="text"] {
    background: var(--fb-bgcolor);
    padding: 10px;
    border-radius: 25px;
    font-size: 1.2rem;
    color: var(--light-color-text);
    padding-left: 35px;
    font-weight: 300;
    border: none;
}

.header__menu-tabs {
    display: flex;
    max-width: 600px;
    width: 100%;
    flex: none;
}

.header__menu-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 62px;
    border-bottom: 4px solid var(--fb-whitebg);
    color: var(--light-color-text);
    cursor: pointer;
    font-size: 1.3rem;
}

.header__menu-tab--active, .header__menu-tab:hover {
    border-bottom: 4px solid var(--fb-blue);
}

.header__menu-tab:hover .fas, .header__menu-tab:hover .fab {
    color: var(--fb-blue);
}

.header__menu-tab--active .fas, .header__menu-tab--active .fab {
    color: var(--fb-blue);
}

.header__menu-tab .fas, .header__menu-tab .fab {
    position: relative;
}

.header__notification-bubble {
    font-family: Arial, Helvetica, sans-serif;
    background: var(--fb-red);
    color: white;
    width: 20px;
    height: 20px;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    top: -12px;
    right: -10px;
    font-weight: 700;
}

.header__account {
    display: flex;
}

.header__actions {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__user-img {
    border-radius: 50%;
    height: 35px;
    width: 35px;
    margin-right: 10px;
}

.header__user-name {
    font-size: 0.9rem;
    font-weight: 600;
    margin-right: 20px;
}

.header__circle-link {
    background: var(--button-link);
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--dark-color-text);
    text-decoration: none;
    margin-right: 10px;
}

.header__circle-link .fa-sort-down {
    position: relative;
    top: -3px;
    font-size: 1.4rem;
}

.header__link-icon {
    font-size: 0.9rem;
}

.header__circle-link .fas, .header__circle-link .fab {
    position: relative;
}

.header__account-notification-bubble {
    font-family: Arial, Helvetica, sans-serif;
    background: var(--fb-red);
    color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -20px;
    right: -18px;
    font-weight: 700;
}

/* Left-side section navbar */

.content-area--feed {
    padding: 90px 15px 20px;
    display: flex;
}

.sidenav {
    width: 25%;
    display: flex;
    flex-direction: column;
    /* position: fixed; */
}

.sidenav__item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.sidenav__item:hover {
    cursor: pointer;
    background-color: var(--dark-grey-bg);
    border-radius: 10px;
}

.sidenav__item-img {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-right: 20px;
    object-fit: cover;
    object-position: center;
}

.sidenav__item-title {
    font-size: 1rem;
    font-weight: 400;
}

.sidenav__item-icon {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    margin-right: 20px;
}

.sidenav__item-notification {
    color: var(--fb-blue);
    margin-top: 5px;
    font-size: 0.75rem;
    display: block;
    font-weight: 300;
}

.sidenav__item-notification-circle {
    background: var(--fb-blue);
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    margin-right: 5px;
}

.sidenav__item-icon-circle {
    background: var(--button-link);
    border-radius: 50%;
    font-size: 0.9rem;
}

.sidenav__item-icon--circle-white {
    background: var(--fb-blue);
    border-radius: 50%;
    font-size: 1rem;
    height: 35px;
    width: 35px;
}

.sidenav__item-icon .fas, .sidenav__item-icon .fab {
    color: var(--fb-blue);
}

.sidenav__item-icon-circle .fas, .sidenav__item-icon-circle .fab {
    color: var(--fb-black);
}

.sidenav__item-icon--circle-white .fas, .sidenav__item-icon--circle-white .fab {
    color: var(--fb-whitebg);
}

.sidenav__line {
    height: 3px;
    background: var(--button-link);
    margin-bottom: 15px;
    display: block;
}

.sidenav__item-icon--circle-grey {
    background: var(--icon-circle-bg);
    border-radius: 50%;
    font-size: 1rem;
    height: 35px;
    width: 35px;
}

.sidenav__item-icon--circle-grey .fas, .sidenav__item-icon--circle-grey .fab {
    color: var(--fb-whitebg);
}

.sidenav__heading-title {
    display: block;
    color: var(--light-color-text);
    font-size: 1.1rem;
    margin-bottom: 15px;
}

/* Story Feed Top Area */

.feed {
    width: 50%;
    height: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.stories {
    display: flex;
    max-width: 700px;
    width: 100%;
    margin-bottom: 20px;
}

.stories__video-container {
    overflow: hidden;
    width: 120px;
    height: 200px;
    border-radius: 5px;
    background: var(--stories-bg);
    position: relative;
    box-shadow: 0px 2px 2px 0px var(--fb-black);
    margin-right: 10px;
    cursor: pointer;
}

.stories__video-container:nth-last-child(1) {
    margin-right: 0px;
}

.stories__bg {
    object-fit: cover;
    object-position: center;
    width: 125px;
    height: 200px;
    opacity: 0.2;
    transition: opacity0.3s ease-in-out;
}

.stories__video-container:hover .stories__bg {
    opacity: 0.8;
}

.stories__title {
    position: absolute;
    bottom: 0;
    background: var(--fb-whitebg);
    width: 100%;
    color: var(--fb-black);
    padding: 20px 20px 10px;
    font-size: 1rem;
    text-align: center;
    line-height: 1.4;
}

.stories__new-btn {
    background: var(--fb-blue);
    width: 40px;
    height: 40px;
    color: var(--fb-white);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 4px solid var(--fb-white);
    position: absolute;
    top: -20px;
    left: 35px;
}

.stories__video-container--plain .stories__title {
    background: transparent;
    color: var(--fb-white);
}

.stories__user {
    border: 4px solid var(--fb-blue);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    top: -115px;
    left: 10px;
}

/* Feed Box Submit Post */

.feed__box {
    padding: 20px;
    background: var(--fb-whitebg);
    max-width: 700px;
    width: 100%;
    flex: none;
    border-radius: 5px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0, 0.25);
    margin-bottom: 20px;
}

.newpost {
    display: flex;
    margin-bottom: 10px;
}

.newpost__user-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.newpost input[type="text"] {
    background: var(--fb-bgcolor);
    padding: 10px;
    border-radius: 25px;
    border: none;
    font-size: 1.2rem;
    color: var(--light-color-text);
    padding-left: 20px;
    font-weight: 300;
    width: 100%;
}

.hline {
    height: 1px;
    background: var(--button-link);
    margin-bottom: 15px;
    display: block;
}

.post-types {
    display: flex;
    justify-content: space-between;
}

.post-types__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.post-types__item:hover {
    cursor: pointer;
    background-color: var(--light-grey-bg);
    border-radius: 10px;
}

.post-types__item .fas, .post-types__item .far {
    margin: 10px;
    font-size: 1.5rem;
}

.post-types__item .fa-video {
    color: var(--fb-red);
}

.post-types__item .fa-photo-video {
    color: var(--fb-green);
}

.post-types__item .fa-laugh-beam {
    color: var(--fb-yellow);
}

/* Feed Box Photo Post */
.photopost {
    padding: 0 0 20px;
    margin-bottom: 20px;
}

.photopost__info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 15px;
}

.photopost__left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.photopost__left img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 10px 10px 10px 0px;
    cursor: pointer;
}

.photopost__details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.photopost__name {
    font-size: 1rem;
    margin-bottom: 5px;
    font-weight: 400;
}

.photopost__name:hover {
    cursor: pointer;
    text-decoration: underline;
}

.photopost__date {
    font-size: 0.7rem;
    color: var(--light-color-text);
}

.photopost__info .fa-ellipsis-h {
    color: var(--light-color-text);
    padding: 10px;
}

.photopost__info .fa-ellipsis-h:hover {
    cursor: pointer;
    background-color: var(--light-grey-bg);
    border-radius: 50%;
}

.photopost__description {
    padding: 0px 20px;
    margin-bottom: 20px;
}

.photopost__image img {
    width: 100%;
}

.photopost__stats {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    color: var(--light-color-text);
    font-weight: 300;
    font-size: 0.9rem;
}

.photopost__stats-emojis {
    display: flex;
    justify-content: center;
    align-items: center;
}

.emoji-circle {
    display: flex;
    width: 22px;
    height: 22px;
    background: black;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 0.4rem;
    border-radius: 50%;
    border: 2px solid white;
    position: relative;
}

.emoji-circle:nth-child(1) {
    z-index: 3;
}

.emoji-circle:nth-child(2) {
    left: -5px;
    z-index: 2;
}

.emoji-circle:nth-child(3) {
    left: -10px;
    z-index: 1;
}

.emoji-circle--blue {
    background: linear-gradient(0deg, rgba(4,60,108,1) 0%, rgba(10,134,240,1) 100%);
}

.emoji-circle--red {
    background: linear-gradient(0deg, rgba(92,15,26,1) 0%, rgba(238,35,64,1) 100%);
}

.emoji-circle--yellow {
    background: #000000;
    overflow: hidden;
}

.emoji-circle--blue .fa-thumbs-up {
    position: relative;
    top: -1px;
}

.emoji-circle--yellow .fa-surprise {
    color: rgba(246,176,36,1);
    font-size: 1.3rem;
    position: relative;
    top: -1px;
}

.photopost__stats-share--comments:hover {
    cursor: pointer;
    text-decoration: underline;
}

.photopost__stats-share--shares:hover {
    cursor: pointer;
    text-decoration: underline;
}

.photopost__actions {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 20px 5px;
}

.photopost__link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--light-color-text);
    width: 100%;
    text-decoration: none;
    padding: 10px 0px;
}

.photopost__link:hover {
    cursor: pointer;
    background-color: var(--light-grey-bg);
    border-radius: 10px;
}

.photopost__link .fas {
    margin-right: 10px;
}

.photopost .hline {
    margin-left: 20px;
    margin-right: 20px;
}

.photopost__view-comments {
    color: var(--light-color-text);
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0 20px;
    margin-bottom: 10px;
    cursor: pointer;
}

.photopost__view-comments:hover {
    text-decoration: underline;
}

.photopost__user-post {
    display: flex;
    justify-content: left;
    align-items: center;
    cursor: pointer;
}

.photopost__user-img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 10px 10px 10px 20px;
    cursor: pointer;
}

.photopost__user-comment {
    display: flex;
    flex-direction: column;
    background: var(--fb-bgcolor);
    border-radius: 15px;
    padding: 10px 30px 10px 10px;
}

.photopost__user-name {
    font-size: 0.8rem;
    font-weight: 600;
}

.photopost__user-comment--post {
    font-size: 0.9rem;
    font-weight: 400;
}

.photopost__user-interactions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 525px 0 80px;
    font-size: 12px;
    color: var(--light-color-text);
    border: none;
}

.button-like:hover {
    cursor: pointer;
    text-decoration: underline;
}

.button-reply:hover {
    cursor: pointer;
    text-decoration: underline;
}

.button-time:hover {
    cursor: pointer;
    text-decoration: underline;
}

.photopost__user-interactions--button {
    font-weight: bold;
}

.photopost__new-comment {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-right: 20px;
}

.photopost__new-comment input[type="text"] {
    background: var(--fb-bgcolor);
    width: 100%;
    height: 40px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    font-size: 0.9rem;
    font-weight: 400;
}

